.riders-popup {
  border: 2px solid black;
  background: white;
  padding: 10px;
  position: absolute;
  display: none;
  max-width: 400px;
  top: 50%;
  left: 50%;
  margin-left: -200px; /* 1/2 width */
  margin-top: -70px; /* 1/2 height */
}

.initially-hidden {
  display: none;  
}

.riders-popup div {
  overflow: auto;
  height: 100px;
}

.riders-popup table tr {
  cursor: pointer;
}

#rider-lookup-results .lookup-tlb tr {
  cursor: pointer;
}

#rider-lookup-results .lookup-tlb tr:hover {
  font-weight: bold;
}

.popup-frm {
  border: 1px solid;
  padding: 10px;
}

table.pretty {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  /* width: 640px; */
  width: 100%;
  max-width: 640px;
  border-collapse:
  collapse; border-spacing: 0;
}

table.pretty td, table.pretty th {
  border: 1px solid transparent; /* No more visible border */
  height: 30px;
  transition: all 0.3s; /* Simple transition for hover effect */
}

table.pretty th {
  background: #DFDFDF; /* Darken header a bit */
  text-align: center;
  font-weight: bold;
}

table.pretty td {
  background: #FAFAFA;
  text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
table.pretty tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells) */
table.pretty tr:nth-child(odd) td { background: #FEFEFE; }

table.pretty a {
  cursor: pointer;
  text-decoration: underline;
}