.riders-popup {
  border: 2px solid black;
  background: white;
  padding: 10px;
  position: absolute;
  display: none;
  max-width: 400px;
  top: 50%;
  left: 50%;
  margin-left: -200px; /* 1/2 width */
  margin-top: -70px; /* 1/2 height */
}

.riders-popup div {
  overflow: auto;
  height: 100px;
}

.riders-popup table tr {
  cursor: pointer;
}