
.pwtc-mileage-report table {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  max-width: 640px;
  border-collapse: collapse; 
  border-spacing: 0;
}

.pwtc-mileage-report table caption {
  height: 30px;
  text-align: center;
  font-weight: bold;
}

.pwtc-mileage-report table td, .pwtc-mileage-report table th {
  border: 1px solid transparent; /* No more visible border */
  height: 30px;
  transition: all 0.3s; /* Simple transition for hover effect */
}

.pwtc-mileage-report table th {
  background: #DFDFDF; /* Darken header a bit */
  text-align: center;
  font-weight: bold;
}

.pwtc-mileage-report table td {
  background: #FAFAFA;
  text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
.pwtc-mileage-report table tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells) */
.pwtc-mileage-report table tr:nth-child(odd) td { background: #FEFEFE; }

.pwtc-mileage-report table tr.highlight td { background: cyan; }


.pwtc-mileage-rwd-table {
  font-family: Helvetica, Arial, sans-serif;
  margin: 1em 0;
  min-width: 300px;
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  border-collapse: collapse;
}
.pwtc-mileage-rwd-table caption {
  background: #34495E;
  text-align: center;
  font-weight: bold;
}
.pwtc-mileage-rwd-table th {
  display: none;
}
.pwtc-mileage-rwd-table td {
  display: block;
}
.pwtc-mileage-rwd-table td:first-child {
  padding-top: .5em;
}
.pwtc-mileage-rwd-table td:last-child {
  padding-bottom: .5em;
}
.pwtc-mileage-rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
.pwtc-mileage-rwd-table th, .pwtc-mileage-rwd-table td {
  margin: .5em 1em;
} 
.pwtc-mileage-rwd-table th, .pwtc-mileage-rwd-table td:before {
  color: #dd5;
}
.pwtc-mileage-rwd-table th, .pwtc-mileage-rwd-table td {
  text-align: left;
  border: none;
  padding: 0em .5em;
}
.pwtc-mileage-rwd-table tr.highlight, .pwtc-mileage-rwd-table tr.highlight td { 
  background: grey; 
}

@media (min-width: 480px) {
  .pwtc-mileage-rwd-table td:before {
    display: none;
  }
  .pwtc-mileage-rwd-table th, .pwtc-mileage-rwd-table td {
    display: table-cell;
    padding: .5em 1em !important;
  }
}
