.pwtc-mileage-rider-report table {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: auto;
  border-collapse: collapse; 
  border-spacing: 0;
}

.pwtc-mileage-rider-report table td {
  border: 1px solid transparent; /* No more visible border */
  text-align: left;
}

.pwtc-mileage-report .report-caption {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  max-width: 640px;
  height: 30px;
  text-align: left;
  font-weight: bold;
}

.pwtc-mileage-report table {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  max-width: 640px;
  border-collapse:
  collapse; border-spacing: 0;
}

.pwtc-mileage-report table td, .pwtc-mileage-report table th {
  border: 1px solid transparent; /* No more visible border */
  height: 30px;
  transition: all 0.3s; /* Simple transition for hover effect */
}

.pwtc-mileage-report table th {
  background: #DFDFDF; /* Darken header a bit */
  text-align: center;
  font-weight: bold;
}

.pwtc-mileage-report table td {
  background: #FAFAFA;
  text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
.pwtc-mileage-report table tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells) */
.pwtc-mileage-report table tr:nth-child(odd) td { background: #FEFEFE; }

.pwtc-mileage-report table tr.highlight td { background: cyan; }