
.pwtc-mileage-empty-tbl {
  font-family: Helvetica, Arial, sans-serif;
  margin: 1em 0;
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  padding: .5em 1em;  
}

.pwtc-mileage-rwd-table {
  font-family: Helvetica, Arial, sans-serif;
  margin: 1em 0;
  min-width: 300px;
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  border-collapse: collapse;
}
.pwtc-mileage-rwd-table caption {
  background: #34495E;
  text-align: center;
  font-weight: bold;
}
.pwtc-mileage-rwd-table th {
  display: none;
}
.pwtc-mileage-rwd-table td {
  display: block;
}
.pwtc-mileage-rwd-table td:first-child {
  padding-top: .5em;
}
.pwtc-mileage-rwd-table td:last-child {
  padding-bottom: .5em;
}
.pwtc-mileage-rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
.pwtc-mileage-rwd-table th, .pwtc-mileage-rwd-table td {
  margin: .5em 1em;
} 
.pwtc-mileage-rwd-table th, .pwtc-mileage-rwd-table td:before {
  color: #dd5;
}
.pwtc-mileage-rwd-table th, .pwtc-mileage-rwd-table td {
  text-align: left;
  border: none;
  padding: 0em .5em;
}
.pwtc-mileage-rwd-table th, .pwtc-mileage-rwd-table tr, .pwtc-mileage-rwd-table td { 
  background: #34495E !important;
}
.pwtc-mileage-rwd-table tr.highlight, .pwtc-mileage-rwd-table tr.highlight td { 
  background: grey !important; 
}
.pwtc-mileage-rwd-table a {
  cursor: pointer;
  text-decoration: underline;
  color: #fff;
}

@media (min-width: 800px) {
  .pwtc-mileage-rwd-table td:before {
    display: none;
  }
  .pwtc-mileage-rwd-table th, .pwtc-mileage-rwd-table td {
    display: table-cell;
    padding: .5em 1em !important;
  }
}

.pwtc-mileage-rwd-table2 {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
}

.pwtc-mileage-rwd-table2 a {
  cursor: pointer;
  text-decoration: underline;
  color: #fff;
}

.pwtc-mileage-rwd-table2 caption {
  background: #34495E;
  text-align: center;
  font-weight: bold;
  border-radius: .4em;
}

.pwtc-mileage-rwd-table2 th {
  color: #dd5;
}

.pwtc-mileage-rwd-table2 th, .pwtc-mileage-rwd-table2 tr, .pwtc-mileage-rwd-table2 td { 
  background: #34495E !important;
}

.pwtc-mileage-rwd-table2 tr.highlight, .pwtc-mileage-rwd-table2 tr.highlight td { 
  background: grey !important; 
}

/* Default span styling - hidden on desktop, see uglyduck.ca/responsive-tables/ */
.pwtc-mileage-rwd-table2 td span {
  color: #dd5;
  display: none;
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  left: 0;
}

/* Simple CSS for flexbox table on mobile, see uglyduck.ca/responsive-tables/  */
@media(max-width: 800px) {
  .pwtc-mileage-rwd-table2 {
    background: #fff;
  }
  .pwtc-mileage-rwd-table2 thead {
      left: -9999px;
      position: absolute;
      visibility: hidden;
  }
  .pwtc-mileage-rwd-table2 tr {
      background: #34495E !important;
      border-bottom: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 40px;
  }
  .pwtc-mileage-rwd-table2 td {
      border: 1px solid;
      margin: 0 -1px -1px 0;
      padding-top: 35px; /* additional padding to avoid heading overlap */
      position: relative;
      width: 50%;
  }
  /* Show the heading span */
  .pwtc-mileage-rwd-table2 td span {
      display: block;
  }
}